@import url(reset.css);
@import url(normalize.css);
.header {
  background: url(../img/BG.png) no-repeat;
  background-size: 100%;
  padding: 50px;
  padding-bottom: 0;
  min-width: 1024px; }
  .header__top {
    width: 78%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header__top .nav {
      margin-right: 45px; }
      .header__top .nav__li {
        display: inline-block; }
        .header__top .nav__li .nav__a {
          color: #fffffe;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          text-transform: uppercase;
          font-family: 'Lato', sans-serif;
          padding: 0 25px; }
          .header__top .nav__li .nav__a:hover {
            text-decoration: underline; }
  .header__main {
    margin: 0 auto;
    height: 650px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 630px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header__main .title {
      color: #ffffff; }
      .header__main .title__name {
        font-family: Raleway;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-transform: uppercase;
        padding: 10px 0; }
      .header__main .title__hr {
        width: 86px;
        border-width: 2px;
        margin: 40px auto; }
    .header__main .header__p {
      font-family: Lato;
      color: #fffefe;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      padding: 0 40px; }
  .header__slide {
    text-align: center;
    padding: 40px 0; }
    .header__slide .header__arrow {
      width: 92px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      opacity: 0.5; }
      .header__slide .header__arrow:hover {
        opacity: 1; }

.white {
  width: 78%;
  margin: 0 auto;
  text-align: center;
  padding: 105px 0; }
  .white .title {
    color: #ffffff;
    color: #222222; }
    .white .title__name {
      font-family: Raleway;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
      padding: 10px 0; }
    .white .title__hr {
      width: 86px;
      border-width: 2px;
      margin: 40px auto; }
    .white .title__h3 {
      font-size: 35px; }
    .white .title__hr {
      border-color: #222222; }
  .white .grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .white .grid__col {
      width: 30%; }
      .white .grid__col .col__link {
        font-family: Lato;
        color: #222222;
        font-weight: 400;
        text-align: center; }
        .white .grid__col .col__link .col__icon {
          height: 200px;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; }
        .white .grid__col .col__link .col__name {
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 30px; }
        .white .grid__col .col__link .col__p {
          font-size: 16px;
          line-height: 30px;
          padding: 0 15px; }
      .white .grid__col .col__main {
        width: 100%;
        position: relative; }
        .white .grid__col .col__main .col__img {
          width: 100%; }
        .white .grid__col .col__main .col__hover {
          visibility: hidden;
          background: rgba(0, 0, 0, 0.75);
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .white .grid__col .col__main .col__hover .col__name {
            font-family: Lato;
            color: #ffffff;
            font-size: 22px;
            font-weight: 400;
            line-height: 60px;
            text-transform: uppercase; }
          .white .grid__col .col__main .col__hover .col__chain {
            width: 41px; }
        .white .grid__col .col__main:hover .col__hover {
          visibility: visible; }
  .white__more {
    display: block;
    margin: 80px auto;
    border: 3px #222222 solid;
    width: 364px;
    height: 54px;
    font-family: Lato;
    color: #222222;
    font-size: 24px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase; }

.phone {
  background: url(../img/About%20Us.png) no-repeat;
  background-size: 100%;
  padding: 0 50px; }
  .phone__container {
    width: 78%;
    margin: 0 auto;
    font-size: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .phone__container .phone__left {
      display: inline-block;
      width: 50%;
      font-family: Lato;
      color: #ffffff;
      text-align: left;
      padding: 115px 0;
      margin: 0; }
      .phone__container .phone__left .phone__name {
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
        margin: 0; }
      .phone__container .phone__left .phone__p {
        font-size: 22px;
        font-weight: 100;
        line-height: 28px;
        padding-right: 60px;
        margin-bottom: 70px; }
      .phone__container .phone__left .phone__link {
        font-family: Lato;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-decoration: underline; }
        .phone__container .phone__left .phone__link:hover {
          color: #005494; }
    .phone__container .phone__right {
      display: inline-block;
      width: 50%;
      position: relative; }
      .phone__container .phone__right .phone__img {
        position: absolute;
        right: 100px;
        bottom: 0; }
