.white {
    width: 78%;
    margin: 0 auto;
    text-align: center;
    padding: 105px 0;
    box-sizing: border-box;
    .title {
        @include title;
        color: #222222;
        &__h3 {
            font-size: 35px;
        }
        &__hr {
            border-color: #222222;
        }
    }
    .grid {
        display: flex;
        justify-content: space-between;
        &__col {
            width: 30%;
            .col__link {
                font-family: Lato;
                color: #222222;
                font-weight: 400;
                text-align: center;
                .col__icon {
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .col__name {
                    font-size: 24px;
                    line-height: 24px;
                    margin-bottom: 30px;
                }
                .col__p {
                    font-size: 16px;
                    line-height: 30px;
                    padding: 0 15px;
                }
            }
            .col__main {
                width: 100%;
                position: relative;
                .col__img {
                    width: 100%;
                }
                .col__hover {
                    visibility: hidden;
                    background: rgba(0, 0, 0, .75);
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .col__name {
                        font-family: Lato;
                        color: #ffffff;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 60px;
                        text-transform: uppercase;
                    }
                    .col__chain {
                        width: 41px;
                    }
                }
                &:hover .col__hover {
                    visibility: visible;
                }
            }
        }
    }
    &__more {
        display: block;
        margin: 80px auto;
        border: 3px #222222 solid;
        width: 364px;
        height: 54px;
        font-family: Lato;
        color: #222222;
        font-size: 24px;
        font-weight: 400;
        line-height: 54px;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background: #005494;
            border-color: #fff;
            color: #fff;
        }
    }
}